body {
	background-color: #A9CC66;
	font-family: 'Bree Serif';
}

.container {
	background-color: #5A1F00;
}

.header {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #477725;
}

.results img {
	border-radius: 10px;
	height: 250px;
	width: 250px;
}

.results {
	border: 1px solid #000000;
	background-color: #D1570D;
	color: #5A1F00;
	border-radius: 10px;
	margin: 10px 0 10px 0;
	/*height: 600px;*/
/*	width: 285px;*/
	text-align: center;
}

.content {
	color: #FDE792;
}

.hidden {
	display: none;
}

.minify {
	color: #D1570D;
}

.returnContent {
	display: block;
	float: right;
}

.mindblow {
	display: block;
	margin: 15px auto;
}

.header h1 {
	text-align: center;
}

.logo {
	display: block;
	margin: 5px auto;
	float: left;
}

